.App{
    text-align: center;
    background-color: white;
    color: white;
    min-height: 100vh;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.cart{
    background-color: darkslategray;
    color: black;
    border: 1px solid gray;
    padding: 3px;
    text-align: start;
}
.header{
    background-color: rgb(181, 181, 210);
    margin: 0;
    color: cyan;
   text-align: center;
}
.footer{
    background-color: black;
    color: white;

}